Dear <%= @receiver %>,
<br><br>
<%= @sender %> has transfered ownership of their vehicle to you!<br>

<table class="table table-hover">
  <thead>
    <tr>
      <th class="text-center">VIN</th>
      <th class="text-center">Year</th>
      <th class="text-center">Make</th>
      <th class="text-center">Model</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @vehicle.vin %></td>
      <td><%= @vehicle.year %></td>
      <td><%= @vehicle.make %></td>
      <td><%= @vehicle.model %></td>
    </tr>
  </tbody>
</table><br>

-Your GloveBox Team!
