<div class="container">
  <h1 class="text-center">Edit Insurance for <%= @vehicle.name.capitalize %></h1>
  <hr>
  <div style="text-align:center;">
    <%= form_for @insurance, url: vehicle_insurance_path(@vehicle.id, @insurance.id), :html => { :multipart => true }  do |f| %>
      <% if @insurance.image.present? %>
        <%= image_tag(@insurance.image.url(:medium)) %>
      <% else %>
        <p>Please upload a photo</p>
      <% end %>

      <h2>Company:<br>
        <%= f.text_field :company, class: "form-control", :placeholder => "Company", :style => "width:50%; display:inline-block;" %></h2>
      <br>
      <h3>Policy Number:<br>
        <%= f.text_field :policy_number, class: "form-control", :placeholder => "Policy Number", :style => "width:40%;  display:inline-block;" %></h3>
      <br>
      <h4>Expiration Date:<br>
        <%= f.date_select :expiration_date, class: "form-control", :placeholder => "Expiration Date", :style => "width:60%; display:inline-block;" %></h4>
      <br>
      <h4>Renewal Date:<br>
        <%= f.date_select :renewal_date, class: "form-control", :placeholder => "Renewal Date", :style => "width:60%; display:inline-block;" %></h4>
      <br>
      <h4>Cost:
        <%= f.text_field :cost, class: "form-control", :placeholder => "Cost of Policy", :style => "width:30%; display:inline-block;" %></h4>
      <br>
      <%= f.file_field :image, style: "display:inline-block;" %>
      <br><br>
      <p><%= f.submit 'Update', url: vehicle_insurance_path(@vehicle.id, @insurance.id), :class => "myButton", :style => "margin-right:13%;" %> 
        <%= link_to 'Cancel', vehicles_path, :class => "myButton", :method => :get %></p>
      <br><br>

    <% end %>
  </div>
</div>
