<div class="text-center container">
  <h1>All Vehicle Insurances</h1><hr>
    <%= link_to 'Back to My Vehicles', vehicles_path, :class => "myButton", :method => :get %>
  <hr />
  <table class="table table-hover table-striped container">
    <thead>
      <tr>
        <th class="text-center">Vehicle</th>
        <th class="text-center">Company</th>
        <th class="text-center">Policy Number</th>
        <th class="text-center">Expiration Date</th>
        <th class="text-center">Renewal Date</th>
        <th class="text-center">Cost</th>
      </tr>
    </thead>
    <tbody>
      <% @insurance.each do |i| %>
        <tr>
          <td><%= link_to(i.vehicle.name, vehicle_path(i.vehicle_id)) %></td>
          <td><%= i.company %></td>
          <td><%= i.policy_number %></td>
          <td><%= i.expiration_date %></td>
          <td><%= i.renewal_date %></td>
          <td>$ <%= i.cost %></td>

          <td><a href="<%= edit_vehicle_insurance_path(i.vehicle_id, i.id) %>" class="btn btn-info"><span class = "glyphicon glyphicon-pencil"></span></a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
