<div class="container">
  <h1 class="text-center">New Insurance for <%= @vehicle.name.capitalize %></h1>
  <hr>
  <div style="text-align:center;">

    <%= form_for @insurance, url: vehicle_insurances_path(:vehicle_id), :html => { :multipart => true }  do |f| %>

      <h2>Company:<br>
        <%= f.text_field :company, class: "form-control form-align", :placeholder => "Company", :style => "width:400px;" %></h2>
      <br>
      <h3>Policy Number:<br>
        <%= f.text_field :policy_number, class: "form-control form-align", :placeholder => "Policy Number", :style => "width:250px;" %></h3>
      <br>
      <h4>Expiration Date:<br>
        <%= f.date_select :expiration_date, class: "form-control", :placeholder => "Expiration Date", :style => "width:60%;" %></h4>
      <br>
      <h4>Renewal Date:<br>
        <%= f.date_select :renewal_date, class: "form-control", :placeholder => "Renewal Date", :style => "width:60%;" %></h4>
      <br>
      <h4>Cost ($):<br>
        <%= f.text_field :cost, class: "form-control form-align", :placeholder => "Cost of Policy", :style => "width:150px" %></h4>
      <br>
      <%= f.file_field :image, class: "form-align" %>
      <%= f.hidden_field :vehicle_id, value: @vehicle.id %>
      <br><br>
      <p><%= f.submit :class => "myButton", :style => "margin-right:13%;" %> <%= link_to 'Cancel', vehicles_path, :class => "myButton", :method => :get %></p>
      <br><br>

    <% end %>
  </div>
</div>
