<div class="container">
  <h1 class="text-center">Insurance for <%= @vehicle.name.capitalize %></h1>
  <hr>
  <div class="row">
    <div class="col-md-7 text-center">
      <% if @insurance.image.present? %>
        <%= image_tag(@vehicle.insurance.image.url) %>
      <% else %>
        <img class="img-responsive" src="http://placehold.it/700x300" alt="">
      <% end %>
      <br/>
    </div>
    <div class="col-md-5 text-center">
      <h1><%= @insurance.company %> </h1>
      <h2><%= @insurance.policy_number %></h2>
      <h3><%= @insurance.expiration_date.strftime('%b %d, %Y') %></h3>
      <h3><%= @insurance.renewal_date %></h3>
      <h3>Cost: $ <%= sprintf('%.2f', @insurance.cost) %> </h3>
      <br>
      <p><%= link_to 'Edit', edit_vehicle_insurance_path(@insurance.vehicle_id, @insurance.id), :class => "myButton", :style => "margin-right:13%;" %> <%= link_to 'See this Vehicle', vehicle_path(@vehicle.id), :class => "myButton", :method => :get %></p>
    </div>
  </div>
</div>
<br>
