<div class="container">
  <h1 class="text-center">Edit Registration</h1>
  <hr>
  <div style="text-align:center;">
    <%= form_for @registration, url: vehicle_registration_path, :html => { :multipart => true }  do |f| %>
      <% if @registration.image.present? %>
        <%= image_tag(@registration.image.url(:medium)) %>
      <% else %>
        <p>Please upload a photo</p>
      <% end %>

      <h2>State:<br>
        <%= f.text_field :state, class: "form-control", :placeholder => "State", :style => "width:50%; display:inline-block;" %></h2>
      <br>
      <h4>Expiration Date:<br>
        <%= f.date_select :expiration, class: "form-control", :placeholder => "Expiration Date", :style => "width:100%;" %></h4>
      <br>
      <h4>Cost:<br>
        <%= f.text_field :cost, class: "form-control", :placeholder => "Cost of Registration (Yearly)", :style => "width:50%; display:inline-block;" %></h4>
      <br>
      <%= f.file_field :image, :style => " display:inline-block;" %>
      <br><br><br><br>
      <p><%= f.submit :class => "myButton registration_button" %>
        <%= link_to 'Cancel', vehicles_path, :class => "myButton", :method => :get %></p>
      <br><br>

    <% end %>
  </div>
</div>
