<table class="table table-hover table-striped container">
  <thead>
    <tr>
      <th>State</th>
      <th>Expiration Date</th>
      <ht>Cost</th>
    </tr>
  </thead>
  <tbody>
    <% @registration.each do |r| %>
      <tr>
        <td><%= link_to(r.vehicle.name, vehicle_path(r.vehicle_id)) %></td>
        <td><%= r.state %></td>
        <td><%= r.expiration %></td>
        <td>$ <%= r.cost %></td>

        <td><a href="<%= edit_vehicle_registration_path(r.vehicle_id, r.id) %>" class="btn btn-info"><span class = "glyphicon glyphicon-pencil"></span></a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
