<div class="container">
  <h1 class="text-center">New Registration</h1>
  <hr>
  <div style="text-align:center;">

    <%= form_for @registration, url: vehicle_registrations_path(:vehicle_id), :html => { :multipart => true }  do |f| %>

      <h2>State:<br>
        <%= f.text_field :state, class: "form-control form-align", :placeholder => "State", :style => "width:400px;" %></h2>
      <br>
      <h4>Expiration Date:<br>
        <%= f.date_select :expiration, class: "form-control", :placeholder => "Expiration Date", :style => "width:60%;" %></h4>
      <br>
      <h4>Cost ($):<br>
        <%= f.text_field :cost, class: "form-control form-align", :placeholder => "Cost of Registration", :style => "width:150px" %></h4>
      <br>
      <%= f.file_field :image, class: "form-align" %>
      <%= f.hidden_field :vehicle_id, value: @vehicle.id %>
      <br><br><br>
      <p><%= f.submit "Update Registration", :class => "myButton" %> <%= link_to 'Cancel', vehicles_path, :class => "myButton", :method => :get %></p>
      <br><br>

    <% end %>
  </div>
</div>
