<h1 class="text-center">New Registration</h1>

<%= form_for @registration, url: vehicle_registration_path(:vehicle_id, :id), :html => { :multipart => true }  do |f| %>

  <h2>State:
    <%= f.text_field :state, class: "form-control", :placeholder => "State", :style => "width:100%;" %></h4>
  <br>
  <h4>Expiration Date:
    <%= f.datetime_select :expiration, class: "form-control", :placeholder => "Expiration Date", :style => "width:100%;" %></h4>
  <br>
  <h4>Cost:
    <%= f.number_field :cost, class: "form-control", :placeholder => "Cost of Policy", :style => "width:100%" %></h4>
  <br>
  <%= f.file_field :image %>
  <%= f.hidden_field :vehicle_id, value: @vehicle.id %>
  <br>
  <%= f.submit("Update Registration") %>
  <br><br>

<% end %>