<div class="container">
  <h1 class="text-center">Registration</h1>
  <hr>
  <div class="row">
    <div class="col-md-7 text-center">
      <% if @vehicle.registration.image.present? %>
        <%= image_tag(@vehicle.registration.image.url(:large), style: "max-width:100%;") %>
      <% else %>
        <img class="img-responsive" src="http://placehold.it/700x300" alt="">
      <% end %>
      <br/>
    </div>
    <div class="col-md-5 text-center">
      <h1><%= @registration.state %> </h1>
      <h3>Registration Date:<%= @registration.expiration.strftime('%b %d, %Y') %></h3>
      <% if @registration.cost.present? %>
        <h3>Yearly Cost: $ <%= sprintf('%.2f', @registration.cost) %> </h3>
      <% end %>
      <br>
      <p><%= link_to 'Edit', edit_vehicle_registration_path(@registration.vehicle_id, @registration.id), :class => "myButton" %> <%= link_to 'See This Vehicle', vehicle_path(@vehicle.id), :class => "myButton", :method => :get %></p>
    </div>
  </div>
</div>
<br>
