<div class='text-center container'>
  <h1>Edit <%= @vehicle.name.capitalize %></h1>
  <hr>
  <div class="form">
    <%= form_for @vehicle do |f| %>
      <%= f.select :type, Vehicle.type, {:include_blank => "Select Vehicle Type"} %><br><br>
      <% dates = 1900..Date.today.year %>
      <p><%= f.select :year, (Time.zone.now.year - 100)..(Time.zone.now.year + 1), {:include_blank => "Select Vehicle Year"} %></p>
      <p><%= f.text_field :make, class: "form-control", :placeholder => "Vehicle Make" %></p>
      <p><%= f.text_field :model, class: "form-control", :placeholder => "Vehicle Model" %></p>
      <p><%= f.text_field :mileage, class: "form-control", :placeholder => "Vehicle Mileage" %></p>
      <p><%= f.text_field :name, class: "form-control", :placeholder => "Vehicle Name" %></p>
      <p><%= f.text_field :vin, class: "form-control", :placeholder => "Vehicle Vin" %></p>
      <p><%= f.text_field :license_plate, class: "form-control", :placeholder => "Vehicle License Plate" %></p>
      <p><%= f.text_field :state, class: "form-control", :placeholder => "State registered in" %></p>
      <p><%= f.file_field :image %></p><br>
      <p><%= f.submit :class => "myButton", :style => "margin-right:13%;" %> <%= link_to 'Cancel', vehicles_path, :class => "myButton", :method => :get %></p>
    <% end %>
  </div>
</div>
