<div class='vehicle-header text-center'>Your Vehicles</div>

  <hr />
  <% unless @vehicles.blank? %>
  <div class="text-center"><p><%= link_to 'See All Vehicle Insurances', vehicle_insurances_path(@vehicles.first.id), class: 'btn btn-default', style: 'font-size:.75em; margin-right:5%;' %>
    <%= link_to 'See All Vehicle Registrations', vehicle_registrations_path(@vehicles.first.id), class: 'btn btn-default', style: 'font-size:.75em' %></p>
  </div>
    <hr>
    <div class="row">
      <% @vehicles.each_with_index do |vehicle, index| %>
        <% if current_user.basic? && index > 2 %>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail vehicle_show grayed-out" style="margin-left:auto; margin-right:auto;">
              <a href="#"><%= image_tag(vehicle.image.url(:medium)) %></a>
              <div class="caption">
                <div class='vehicle-text'><%= vehicle.make + ' ' + vehicle.model %>
                  <br>
                  <% if vehicle.registration.present? %>
                    Reg Expires: <%= vehicle.registration.expiration.strftime('%b %d, %Y') %>
                  <% else %>
                    No Registration Entered!
                  <% end %>
                  <br>
                  <% if vehicle.insurance.present? %>
                    Insurance Expires: <%= vehicle.insurance.expiration_date.strftime('%b %d, %Y') %>
                  <% else %>
                    No Insurance Entered!
                  <% end %>
                  <br>
                  Mileage: <%= vehicle.mileage %><br>
                </div>

                <br>
                <p><div class='text-center'><a href="#" class="btn btn-default">See Repairs</a></div></p>
                <% if vehicle.insurance.present? %>
                  <p><div class='text-center'><div class="insurance_modal_button btn myButton" data-vehicle="">Insurance</div>
                <% else %>
                  <p><div class='text-center'><a href="#" class="btn myButton" style="font-size:.75em">Add Insurance</a>
                <% end %>
                <% if vehicle.registration.present? %>
                  <div class="registration_modal_button btn myButton" data-vehicle="<%= vehicle.to_json(include: :registration) %>">Registration</div></div>
                <% else %>
                  <a href="#" class="btn myButton" style="font-size:.75em">Add Registration</a></div>
                <% end %>
                </p>
              </div>
            </div>
          </div>
        <% else %>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail vehicle_show" style="margin-left:auto; margin-right:auto;">
              <%= vehicle.image ? link_to(image_tag(vehicle.image.url(:medium)), vehicle_path(vehicle.id)) : link_to(image_tag()) %>
              <div class="caption">
                <div class='vehicle-text'><%= link_to vehicle.make + ' ' + vehicle.model, vehicle_path(vehicle.id) %>
                  <br>
                  <% if vehicle.registration.present? %>
                    Reg Expires: <%= vehicle.registration.expiration.strftime('%b %d, %Y') %>
                  <% else %>
                    No Registration Entered!
                  <% end %>
                  <br>
                  <% if vehicle.insurance.present? %>
                    Insurance Expires: <%= vehicle.insurance.expiration_date.strftime('%b %d, %Y') %>
                  <% else %>
                    No Insurance Entered!
                  <% end %>
                  <br>
                  Mileage: <%= vehicle.mileage %><br>
                </div>

                <br>
                <p><div class='text-center'><%= link_to 'See Repairs', vehicle_repairs_path(vehicle.id), class: 'btn btn-default'%></div></p>
                <% if vehicle.insurance.present? %>
                  <p><div class='text-center'><div class="insurance_modal_button btn myButton" data-vehicle="<%= vehicle.to_json(include: :insurance) %>">Insurance</div>
                <% else %>
                  <p><div class='text-center'><%= link_to 'Add Insurance', new_vehicle_insurance_path(vehicle.id), class: 'btn myButton', style: 'font-size:.75em' %>
                <% end %>
                <% if vehicle.registration.present? %>
                  <div class="registration_modal_button btn myButton" data-vehicle="<%= vehicle.to_json(include: :registration) %>">Registration</div></div>
                <% else %>
                  <%= link_to 'Add Registration', new_vehicle_registration_path(vehicle.id), class: 'btn myButton', style: 'font-size:.75em' %></div>
                <% end %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= will_paginate @vehicles %>
</div>
<% else %>
  <h3 class="text-center">It appears that you have no vehicles. To experience the best of what Glovebox has to offer click the "New Vehicle" button below.</h3>
  <div class="col-sm-offset-5 col-sm-2">
    <%= link_to 'New Vehicle', new_vehicle_path, class: 'btn btn-form-submit' %>
  </div>
<% end %>

<%= render(partial: "vehicles/insurance_modal") %>
<%= render(partial: "vehicles/registration_modal") %>
