<div class='pull-left'><%= image_tag @vehicle.image.url(:medium) %></div>
<%=@vehicle.year %> <%= @vehicle.make %> <%= @vehicle.model %><br>
Mileage: <%= @vehicle.mileage %><br>
Vin: <%= @vehicle.vin %><br>
License Plate: <%= @vehicle.license_plate %><br>
Registered in <%= @vehicle.state %><br>
