<div class='pull-left'><%= image_tag @vehicle.image.url(:large) %></div>
<%=@vehicle.year %> <%= @vehicle.make %> <%= @vehicle.model %><br>
Mileage: <%= @vehicle.mileage %><br>
Vin: <%= @vehicle.vin %><br>
License Plate: <%= @vehicle.license_plate %><br>
Registered in <%= @vehicle.state %><br>
<% if @vehicle.registration.present? %>
  Reg Expires: <%= @vehicle.registration.expiration %>
<% else %>
  No registration entered!
<% end %>
<br>
<% if @vehicle.insurance.present? %>
  Insurance Expires: <%= @vehicle.insurance.expiration_date %>
<% else %>
  No Insurance entered!
<% end %>
<br>
<%= link_to 'Edit', edit_vehicle_path(@vehicle.id) %>
<%= link_to 'Delete', vehicle_path(@vehicle.id), method: :delete %>
