<div class="container">
  <h1 class="text-center">Edit Repair</h1>
  <hr>
  <div style="text-align:center;">

    <%= form_for @repair, url: sti_repair_path(@vehicle, @repair.type, @repair) do |f| %>

      <h3>Type of Vehicle:<br>
        <%= f.select :type, [['Oil Change', 'Oilchange'],['Alignment', 'Alignment'],['Inspection', 'Inspection'], ['Tire Rotation', 'Tirerotation'],['Modification', 'Modification'], ['Other Repair', 'Otherrepair']], {:include_blank => "Select Repair Type"}, :class => "form-control", :style => "width:150px; display:inline-block;"%></h3>
      <br>
      <h3>Repair Description:<br>
        <%= f.text_area :repair_description, :placeholder => "Description of the repair", :class => "form-control" , :style => "width:250px; display:inline-block;" %></h3>
      <br>
      <h4>Date of Repair:<br>
        <%= f.date_select :repair_date, :class => "form-control" %></h4>
      <br>
      <h4>Vehicle Mileage:</h4><br>
        <%= f.number_field :mileage, :placeholder => "Vehicle mileage at time of repair", :class => "form-control", style: "width:250px; display:inline-block;" %>
      <br>
      <h4>Place of Service<br>
        <%= f.text_field :repair_place, :placeholder => "Where was the repair done?", :class => "form-control", style: "width:60%; display:inline-block;" %></h4><br>
      <h4>Cost ($):<br>
        <%= f.text_field :repair_cost, :placeholder => "Repair cost", :class => "form-control", :style => "width:150px; display:inline-block" %></h4>
      <br>
      <%= f.file_field :repair_image, :class => "form-control", style: "width:250px; display:inline-block;" %>
      <%= f.hidden_field :vehicle_id, value: @vehicle.id %>
      <br><br><br>
      <p><%= f.submit 'Update', :class => "myButton" %> <%= link_to 'Cancel', vehicle_repairs_path(@repair.vehicle_id), :class => "myButton", :method => :get %></p>
      <br><br>

    <% end %>
  </div>
</div>
