<%= form_for @repair, url: vehicle_repairs_path(@vehicle) do |f| %>
<div class="row">
  <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
    <%= f.select :type, Repair.types, {:include_blank => "Select Repair Type"}, :class => "form-control contact-form-fields"%>
  </div>
</div>
<div class="row">
  <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
    <%= f.text_area :repair_description, :placeholder => "Description of the repair", :class => "contact-form-fields" %>
  </div>
</div>
<div class="row">
  <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
    <%= f.date_select :repair_date, {:order => [:day, :month, :year], :prompt => { :day => 'Day', :month => 'Month', :year => 'Year'} }, {:class => "contact-form-fields form-control"}%>
  </div>
</div>
<div class="row">
  <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
    <%= f.text_field :repair_cost, :placeholder => "Repair cost", :class => "contact-form-fields" %>
  </div>
</div>
<div class="row">
  <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
    <%= f.file_field :repair_image, :class => "contact-form-fields" %>
  </div>
</div>
<div class="row">
  <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
    <%= f.text_field :repair_place, :placeholder => "Where was the repair done?", :class => "contact-form-fields" %>
  </div>
</div>
<div class="row">
  <div class="col-sm-offset-2 col-sm-8 col-md-offset-5 col-md-2">
    <%= f.submit "Add repair", :class => "btn btn-form-submit" %>
  </div>
</div>
<% end %>
