<div class="container">
  <h1 class="text-center"><%= @repair.vehicle.name.capitalize %></h1>
  <h2 class="text-center">Edit</h2>
  <hr>
  <div class="row">
    <div class="col-md-7 text-center">
      <% if @repair.repair_image.present? %>
        <%= link_to image_tag(@repair.repair_image.url(:large), :class => "img-thumbnail"), vehicle_path(@repair.vehicle_id) %>
      <% else %>
        <img class="img-responsive" src="http://placehold.it/700x300" alt="">
      <% end %>
      <br/>
    </div>
    <div class="col-md-5 text-center">
      <h3><%= @repair.repair_description %></h3>
      <h3><%= @repair.repair_date %></h3>
      <h3>Cost: $ <%= sprintf('%.2f', @repair.repair_cost) %></h3>
      <h3><%= @repair.repair_place %></h3>
      <br>
      <p><%= link_to 'Edit', edit_vehicle_repair_path(@repair.vehicle_id, @repair.id), :class => "myButton" %> <%= link_to 'Cancel', vehicles_path, :class => "myButton", :method => :get %></p>
    </div>
  </div>
</div>
<br>
