<!DOCTYPE html>
<html>
<head>
  <title>Glovebox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/navbar_top" %>
  <%= render "layouts/navbar" %>
  <div style="min-height:630px;">
    <%= yield %>
  </div>
<!--   <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> -->
  <%= render "layouts/footer" %>
</body>
</html>
